body{
    background-color: #f6f5f5;
    margin-right: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.primeira-tag{
    width: 100%;
    height: 100vh;
    background-image: url(img/desenvolvedor1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white ;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2) ;
    padding: 0px 5%;
}

nav ul{
    display: flex;
}
 
nav ul li a {
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    font-size: 15px;
    font-weight: 700;
}
    
.logo{
    font-family: arial black;
    color: black;
    font-size: 30px;
}

.active{
    font-weight: bold;
    color: blue;
}

.texto-1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(32, 32, 32);
    font-size: 22px;
}

.texto-2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    font-size: 60px;
}

.texto-3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(17, 17, 17);
    font-size: 30px;
    line-height: 30px;
}

.conteudo-texto{
    position: absolute;
    left: 6%;
    top: 40%;
    
}

.conteudo-texto button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 20px 10px;

}

.bt1{
    border:2px solid black;
    color: black;

}

.bt2{
    background-color: #0b0b0b;
    border: none;
    color: #ffffff;
}

button:hover{
    width: 120px;
    background-color: grey;
}

footer{
    text-align: center;
    
}